<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/header.ejs') %>

    <div class="main">
      <div class="card">
        <h1></h1>
      </div>
    </div>
    

    <%- include('../layout/footer.ejs') %>
  </body>
</html>
